{% extends 'booking/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block header %}
  BOOKINGS
{% endblock %}

{% block main_part %}

<!-- <section>  --> <!-- This is located to base.html -->
    <!-- <div class="booking_list-whole-content"> --> <!-- This is located to base.html -->
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">

                    {% if rooms_distinct %}
                        <div class="col-xl-1">
                        </div>

                        <div class="col-xl">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>

                                        {% for room in rooms_distinct %}
                                            <th>
                                                <a href="{% url 'booking_detail' pk=room.pk %}?username_authenticated_id={{ user.pk }}&booking_flag=1">
                                                    <span class="glyphicon glyphicon-calendar"></span> {{ room.title }}
                                                </a>
                                            </th>
                                        {% endfor %}

                                        <tr>
                                        {% for key, value in booking_dict.items %}
                                            <td>
                                            {% for v in value %}
                                                <pre><h5><span class="glyphicon glyphicon-calendar"></span> {{v.date_from}} - {{v.date_to}} ({{ v.f_user }})</h5></pre>
                                            {% endfor %}
                                            </td>
                                        {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-xl-1">
                        </div>
                    {% else %}
                        <div class="col-xl-4">
                        </div>

                        <div class="col-xl-4">
                            <h1 id="no_results">No results</h1>
                        </div>

                        <div class="col-xl-4">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        </div>
       </div>
   </div> <!-- booking_list-whole-content -->
</section>

{% endblock %}
