{% extends 'booking/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
  ROOM UPDATE
{% endblock %}

{% block main_part %}

<!-- <section> --> <!-- This is located to base.html -->
    <!-- <div class="booking_list-whole-content"> --> <!-- This is located to base.html -->

        <div class="main-content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-4">
                    </div>

                    <div class="col-xl">
                        <div id="jumbotron-crud-page" class="jumbotron">
                            <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control' }}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <button class="btn btn-success" type="submit">Update</button>
                                <input type="hidden" name="username_authenticated_id" value="{{ username_authenticated_id }}">
                            </form>
                        </div>
                    </div>    

                </div>
            </div>
        </div>

    </div> <!-- booking_list-whole-content -->
</section>
{% endblock %}
