{% extends 'booking/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
    ACCESS RIGHTS
{% endblock %}

{% block main_part %}
<!-- <section> --> <!-- This is located to base.html -->
    <!-- <div class="booking_list-whole-content"> --> <!-- This is located to base.html -->

        <div class="main-content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-4">
                    </div>

                    <div class="col-xl">
                        <div class='successful_process'>
                            <h1>Successful Entry!</h1>
                            <a href="{% url 'user_access_admin_table' %}?username_authenticated_id={{ user.pk }}">
                                <h6>Return to Access Control</h6>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div> <!-- booking_list-whole-content -->
</section>
{% endblock %}
