<!-- templates/registration/login.html -->
{% extends 'booking/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
  LOGIN
{% endblock %}

{% block main_part %}
<!-- <section> --> <!-- This is located to base.html -->
    <!-- <div class="gallery-whole-content"> --> <!-- This is located to base.html -->

        <div class="gallery-main-content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xl-4">
                    </div>

                    <div class="col-xl-4">

                        <div id="jumbotron-login-page" class="jumbotron">
                            <div class="input-group">
                                <form method="POST" class="post-form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            {% if field.label == "Password" %}
                                                <label for="{{ field.id_for_label }}">
                                                    Password
                                                </label>
                                                {{ field|add_class:'form-control' }}
                                            {% else %}
                                                <label for="{{ field.id_for_label }}">
                                                    {{ field.label }}
                                                </label>
                                                {{ field|add_class:'form-control' }}
                                                {% for error in field.errors %}
                                                    <span class="help-block">{{ error }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button class="btn btn-success" type="submit">
                                        Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                    </div>

                </div>
            </div>
        </div>

    </div> <!-- gallery-whole-content -->
</section>
{% endblock %}
